* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ADD9E5;
    font-family: 'Nerko One', cursive;
}

header {
    font-size: 80px;
    text-align: center;
    padding-top: 10px;
    color: white;
}

main {
    width: 60%;
    margin: 20px auto;
}


.carta {
    position: relative;
    width: 20%;
    height: 200px;
    background-image: url("img/pattern.png");
    background-size: contain;
    display: inline-block;
    margin: 1%;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.carta img {
    width: 80%;
    visibility: hidden;
}

.carta p {
    display: none;
}

.carta:hover {
    background-image: none;
    background-color: white;
}

.carta:hover img {
    visibility: visible;
}
.carta:hover p {
    position: absolute;
    text-align: center;
    bottom: 5px;
    left: 5px;
    color: #E61A86;
    font-size: 25px;
    display: block;
}



footer {
    text-align: center;
    font-size: 20px;
    margin: 20px;
}