* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ADD9E5;
    font-family: 'Nerko One', cursive;
    text-align: center;
}

header {
    font-size: 80px;
    padding-top: 10px;
    color: white;
    text-transform: uppercase;
}

main {
    width: 60%;
    margin: 5px auto;
}


.carta {
    position: relative;
    width: 20%;
    height: 200px;
    background-image: url("img/pattern.png");
    background-size: contain;
    display: inline-block;
    margin: 1%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.carta.attiva,
.carta:hover {
    background-image: none;
    background-color: white;
}

.carta img {
    width: 80%;
    visibility: hidden;
}
.carta.attiva img,
.carta:hover img {
    visibility: visible;
}

.carta p {
    display: none;
}
.carta.attiva p,
.carta:hover p {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 5px;
    font-size: 25px;
    display: block;
}
.carta.attiva p {
    color: #E61A86;
}
.carta:hover p {
    color: #E67919;
}

footer {
    font-size: 20px;
    margin: 20px;
}